body {
  font-family: "Times New Roman";
}
img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
}
.fa-html5 {
  color: red;
}
.fa-js {
  color: darkorange;
}
.fa-react {
  color: aqua;
}
.fa-bootstrap {
  color: slateblue;
}
.fa-css3 {
  color: blue;
}
.fa-node-js {
  color: #3c873a;
}
.fa-database {
  color: darkgoldenrod;
}

.fa-location-dot {
  color: crimson;
}
.fa-phone {
  color: chocolate;
}
.fa-envelope {
  color: darkgoldenrod;
}
.fa-github {
  color: #171515;
}

h1 {
  color: red;
}
.navbar {
  background: linear-gradient(
    90deg,
    rgba(9, 122, 9, 10) 35%,
    rgba(9, 121, 9, 15) 35%,
    rgba(9, 121, 105, 25) 100%
  );
}
.footer {
  background: linear-gradient(
    90deg,
    rgba(9, 122, 9, 10) 35%,
    rgba(9, 121, 9, 15) 35%,
    rgba(9, 121, 105, 25) 100%
  );
}
.fas {
  color: cornflowerblue;
}
a {
  color: crimson;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: white;
  background-color: red;
  border-radius: 5px;
}

.navbar ul li a:active {
  color: coral;
  background-color: burlywood;
}
.navbar ul li a {
  padding: auto;
  font-size: 20px;
  font-weight: normal;
}
