body::before{
    display: block;
    content: '';
    height: 75px;
}
img{
    width: 75%;
    border-radius: 5px;
}
.fa-html5{
    color: red;
    
}
.fa-js{
    color:darkorange;
    
}
.fa-react{
    color: aqua;
}
.fa-bootstrap{
    color: slateblue;
}
.fa-css3{
    color:blue;
}
h3{

}